@import 'assets/styles/media-queries';

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;

  .sidebar {
    flex: 0 0 25rem;
    padding: 0 2rem 2rem 2rem;

    select {
      width: 100%;
      padding: 1rem;
      margin-bottom: 2rem;
      border: none;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
      box-shadow: var(--box-shadow);
      background-color: var(--default-light-color);
      outline: none;
    }

    ul.categories {
      padding: 2rem;
      background-color: var(--default-light-color);
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
      box-shadow: var(--box-shadow);

      li {
        margin: 1rem;
        cursor: pointer;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        position: relative;
        &:hover {
          color: var(--primary-color);
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-decoration-color: var(--primary-dark-color);
          -moz-text-decoration-color: var(--primary-dark-color);
          -webkit-text-decoration-color: var(--primary-dark-color);

          strong {
            color: var(--primary-color);
          }
        }
      }
      .active::before {
        content: '';
        color: var(--primary-color);
        font-weight: 700;
        margin-right: 0.5rem;
        position: absolute;
        left: -1rem;
        width: 0.25rem;
        height: 100%;
        background-color: var(--primary-color);
      }
      .active {
        color: var(--primary-color);
        font-weight: 700;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        strong {
          color: var(--primary-color);
        }
      }
    }
  }

  .articles-container {
    max-width: 80rem;
    flex: 1;

    .article {
      background-color: white;
      padding: 0 5rem;
      margin-bottom: 5rem;
      @include xs {
        padding: 0 2rem;
      }
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: var(--box-shadow);

      h2 {
        text-align: center;
        margin: 3rem 0;
      }

      .author-infos {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          margin-right: 1rem;
        }

        .article-author {
          font-weight: bold;
          color: var(--hint-color);
        }
      }

      .article-infos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3rem;
        max-width: 80rem;
        width: 100%;

        .article-category {
          margin-bottom: 3rem;
          font-weight: bold;
          color: var(--accent-color);
        }

        .article-date {
          margin-bottom: 3rem;
          color: var(--hint-color);
        }
      }

      .article-content {
        max-width: 550px;
        border-bottom: 1px solid var(--divider-color);
        padding-bottom: 2rem;
        white-space: pre-line;
      }

      .article-actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 2rem 0;

        .btn {
          margin-left: 1rem;
        }
      }
    }
  }
}
