.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--divider-color);
  }
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

  &:hover {
    background-color: var(--primary-dark-color);
    transition: box-shadow 0.3s;
    box-shadow: var(--box-shadow);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    color: var(--default-light-color);
  }

  &-primary {
    background-color: var(--primary-color);
    color: var(--default-light-color);
  }

  &-accent {
    border: 1px solid var(--primary-color);
    background-color: var(--default-light-color);
    color: var(--primary-color);
  }

  &-danger {
    border: 1px solid var(--error-color);
    background-color: var(--default-light-color);
    color: var(--error-color);

    &:hover {
      background-color: var(--error-color);
      color: var(--default-light-color);
    }
  }
}

.text {
  &-error {
    color: var(--error-color);
  }
}

/* Modal */
.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: var(--default-light-color);
    min-width: 30rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5rem;
    box-shadow: var(--box-shadow);
    text-align: center;

    h5 {
      margin: 1rem 0 3rem 0;
    }

    .btn {
      margin-left: 1rem;
    }
    
  }
}
