:root {
  // Colors
  --primary-color: #2ecc71;
  --primary-dark-color: #27ae60;
  --accent-color: #2c3e50;
  --text-color: #333333;
  --divider-color: #ecf0f1;
  --dark-grey: #324355;
  --default-light-color: white;

  // Fonts
  --font-family: 'Mulish', sans-serif;

  // Box shadow
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
